{% extends "inicio/encabezado.html"%} {% block contenido %}




<div class="row row-cols-1 row-cols-md-3 g-4" style="padding-left:100px ;">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <img src='https://cdn.pixabay.com/photo/2018/04/20/17/18/cat-3336579_960_720.jpg' class="img-thumbnail" alt="...">
            </div>
        </div>
    </div>
    <div class="col" style="margin-left:150px;">
        <div class="card h-100">
            <div class="card-body">
                <div class="mb-3">
                    <form
  name="contact"
  method="POST"
  netlify-honeypot="bot-field"
  data-netlify="true"
>
{% csrf_token %}
  <p class="hidden">
    <label class="form-label">
    Nombre <input class="form-control" name="bot-field" />
    </label>
  </p>
  <p>
    <label class="form-label">
      Email: <input class="form-control" type="text" name="email" />
    </label>
  </p>
  <p>
    <label class="form-label">
      Message: <textarea class="form-control" name="message"></textarea>
    </label>
  </p>
  <p>
    <button  class="btn btn-primary" type="submit">Send</button>
  </p>
</form>
        </div>
    </div>
</div>


{% endblock %}