{% extends "inicio/encabezado.html"%} {% block titulo%} Experiencias {% endblock %} {% block contenido %}





<div class="a" style="background-color:#ffff ;">

        <div class="col-3 row-2 mt-3" style="width:800px;  margin-left:100px ;">
            <div class="card h-100">
                <div class="card-body">
                    <div class="mb-3">
                        <form class="form-horizontal" action="{% url 'Registrar'%}" method="POST" role="form">
                            {%csrf_token%}
                        <div class="mb-3">
                            <h5 class="card-title m-auto-0">Cuentanos tu experiencia</h5>
                            <label class="col-sm-2 control-label text-right">Nombre:</label>
                            <input name="nombre" type="text" class="form-control">
                            </div>
                        <div class="mb-3">
                            <label class="col-sm-2 control-label text-right">Email:</label>
                            <input name="email" cols="30" rows="5" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="col-sm-2 control-label text-right">Mensaje:</label>
                            <textarea name="mensaje" cols="50" rows="10" class="form-control"></textarea>
                        </div>
                        <!-- <div class="mb-3">
                            <label for="imagen" class="form-label">Default file input example</label>
                            <input class="form-control" type="file" name="imagen" id="imagen">
                          </div> -->
                        <div class="form-actions text-right">
                            <input type="submit" value="Enviar" class="btn btn-primary">
                        </div>
                </div>
            </div>
        </div> 
        </div>
            
        <div class="card border-0 m-4">
        <div class="pt-3 m-auto"><h2>Comentarios</h2></div>

        <div class="card-group m-3 row row-cols-1 " style="padding-right:10px ;">
                {% for com in form %}
                <div class="card border-0 m-1 style="width: 18rem;">
                    <img src="https://random.imagecdn.app/500/150" class="rounded mx-auto d-block card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{com.nombre}}</h5>
                      <p class="card-text">{{com.mensaje}}</p>
                      <div>
                        <p class="card-text muted">Subido el: {{com.created}}</p>
                      </div>
                    </div>
                  </div>
           
             
               {% endfor %}

       </div>
</div>
        {% endblock %}