 {% extends "inicio/encabezado.html"%} {% block titulo%} Principal {% endblock %} {% block contenido %} {% load static %}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/1.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/2.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/3.png' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="contenedorcard">
    <svg width="100%" height="172" fill="none">
        <path fill="#031829">
          <animate repeatCount="indefinite" fill="freeze" attributeName="d" dur="15s"
            values="
                    M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z;
        
                    M0 86.3149C316 86.315 444 159.155 884 51.1554C1324 -56.8446 1320.29 34.1214 1538 70.4063C1814 116.407 2156 188.408 2560 86.315V232.317L0 232.316V86.3149Z;
        
                    M0 53.6584C158 11.0001 213 0 363 0C513 0 855.555 115.001 1154 115.001C1440 115.001 1626 -38.0004 2560 53.6585V199.66L0 199.66V53.6584Z;
        
                    M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z;"></animate>
        </path>
      </svg>
</div>
<div class="contenedor" style="background-color: #031829;">
    <center>
        <h1 class="animate__flash text-light p-3">Upcoming Tours</h1>
    </center>



    <style>
        .card {
            background-color: #03182921;
            color: aliceblue;
        }
        
        .card:hover {
            border: 1px solid rgb(241, 244, 250);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
    </style>

    <div class="card-group" style="margin-right:120px; margin-left: 120px;">
        {% for tour in tours %}
        <div class="card" style="margin-right:50px; border: 0;">
            <img src='{{ tour.foto.url}}' class="card-img-top rounded" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{tour.tile}}</h5>
                <p class="card-text">{{tour.description|truncatechars:100}}</p>
                <p class="card-text">Site: {{tour.ciudad}}</p>

                <p class="card-text">Inicia: 🗓️{{tour.fechaIni}}</p>

            </div>
        </div>
        {% endfor %}
    </div>


    <br> {% endblock %}